name: Build WF
on:
  push:
    branches:
     - main
  pull_request:
    branches:
     - main

  workflow_dispatch:

permissions:
  contents: read
  
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      
      - name: Upload Build artifact
        uses: actions/upload-artifact@v4
        with: 
          name: lzbproject-app
          path: target/*.war
      
      - name: Notify if Build Fails
        if: failure()
        run: echo "build fails"

  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

